#!/usr/bin/env bash

export ANSIBLE_NOCOWS=1

pushd /etc/ansible-secrets >/dev/null
git pull --quiet
popd >/dev/null

ansible-pull -d /etc/ansible-pull -e usevault=false -i /etc/ansible-pull/inventory.yaml -U {{ this_repo }} --verify-commit site.yml 2>&1 >/dev/null
