[defaults]
callbacks_enabled = mail

# TODO: maybe look into INTERPRETER_PYTHON_DISTRO_MAP instead?
interpreter_python = auto_silent

[inventory]
host_pattern_mismatch = ignore

[callback_mail]
smtphost = {{ smtp_host }}
sender = ansible@{{ ansible_hostname }}.{{ public_domain }}
