# /etc/fstab: static file system information.
#
# noatime turns off atimes for increased performance (atimes normally aren't
# needed); notail increases performance of ReiserFS (at the expense of storage
# efficiency).  It's safe to drop the noatime options if you want and to
# switch between notail / tail freely.
#
# The root filesystem should have a pass number of either 0 or 1.
# All other filesystems should have a pass number of 0 or greater than 1.
#
# See the manpage fstab(5) for more information.
#

# <fs>                  <mountpoint>    <type>          <opts>          <dump/pass>

# NOTE: If your BOOT partition is ReiserFS, add the notail option to opts.
#
# NOTE: Even though we list ext4 as the type here, it will work with ext2/ext3
#       filesystems.  This just tells the kernel to use the ext4 driver.
#
# NOTE: You can use full paths to devices like /dev/sda3, but it is often
#       more reliable to use filesystem labels or UUIDs. See your filesystem
#       documentation for details on setting a label. To obtain the UUID, use
#       the blkid(8) command.

{# filesystem dict is keyed on uuid #}
{% for uuid, fs in filesystems.items () %}
UUID={{ uuid }} {{ fs.mountpoint }} {{ fs.filesystem }} {{ fs.options }} {{ fs.dump }} {{ fs.pass }}
{% endfor %}

{% if ansible_hostname == 'sirius' %}
raptor.{{ wg_domain }}:/tank/gentoo/binpkgs/{{ gccarch }}:stable /var/cache/binpkgs:stable nfs defaults 0 0
{% endif %}
{% if ansible_hostname != 'raptor' and not satellite %}
raptor.{{ wg_domain }}:/tank/gentoo/binpkgs/{{ gccarch }} /var/cache/binpkgs nfs defaults 0 0
raptor.{{ wg_domain }}:/tank/gentoo/distfiles /var/cache/distfiles nfs defaults 0 0
{% for mount in network_mounts %}
raptor.{{ wg_domain }}:/tank/{{ mount['prefix'] }}/{{ mount['target'] }} /network/{{ mount['target'] }} nfs defaults 0 0
{% endfor %}
{% endif %}
