---
version: "3.8"
services:
  traefik:
    image: traefik:latest
    container_name: traefik
    volumes:
      - /etc/traefik/traefik.toml:/traefik.toml
      - /var/run/docker.sock:/var/run/docker.sock
      - letsencrypt:/var/lib/traefik
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
    environment:
      - LINODE_TOKEN={{ linode_pat }}
      - HURRICANE_TOKENS={{ hurricane_tokens | combine | items | map('join', ':') | join(',') }}
    networks:
      - traefik
networks:
  traefik:
    external: true
volumes:
  letsencrypt:
    external: false
