[entryPoints]
  [entryPoints.http]
      address = ":80"
      [entryPoints.http.http.redirections.entryPoint]
          to = "https"
          scheme = "https"
  [entryPoints.https]
      address = ":443"

[providers]
  [providers.docker]
    network = "traefik"

[api]
  dashboard = true
  insecure = true

[certificatesResolvers.myresolver.acme]
  email = "{{ my_email }}"
  storage = "acme.json"
  [certificatesResolvers.myresolver.acme.dnsChallenge]
    provider = "linode"
    delayBeforeCheck = 0
    resolvers = ["1.1.1.1:53", "8.8.8.8:53"]
