{{ define "__subject" }}
{{ .CommonLabels.priority }} {{ .CommonLabels.instance }} {{ .CommonLabels.alertname }} {{ .Status }}
{{ end }}

{{ define "__text_alert_list" }}{{ range . }}
Labels:
{{ range .Labels.SortedPairs }}{{ if lt (len .Name) 5 }}  {{ .Name }}:{{ "\t" }}{{ "\t" }}{{ .Value }}{{ else }}  {{ .Name }}:{{ "\t" }}{{ .Value }}{{ end }}
{{ end }}Annotations:
{{ range .Annotations.SortedPairs }}{{ if lt (len .Name) 5 }}  {{ .Name }}:{{ "\t" }}{{ "\t" }}{{ .Value }}{{ else }}  {{ .Name }}:{{ "\t" }}{{ .Value }}{{ end }}
{{ end }}Source:
{{ .GeneratorURL }}
{{ end }}{{ end }}

{{ define "__alert_silence_link" -}}
    {{ .ExternalURL }}/#/silences/new?filter=%7B
    {{- range .CommonLabels.SortedPairs -}}
        {{- if ne .Name "alertname" -}}
            {{- .Name }}%3D"{{- .Value -}}"%2C%20
        {{- end -}}
    {{- end -}}
    alertname%3D"{{ .CommonLabels.alertname }}"%7D
{{- end }}



{{ define "email.comfault.subject" }}{{ template "__subject" . }}{{ end }}

{{ define "email.example.text" }}
{{ if gt (len .Alerts.Firing) 0 -}}
# Alerts firing

{{ template "__text_alert_list" .Alerts.Firing }}
{{- end }}

{{ if gt (len .Alerts.Resolved) 0 -}}
# Alerts resolved

{{ template "__text_alert_list" .Alerts.Resolved }}
{{- end }}

Manage notification:
{{ template "__alert_silence_link" . }}
{{- end }}