{% if item == 'gentoo' %}
[DEFAULT]
main-repo = gentoo

{% endif -%}

[{{ item }}]
location = /var/db/repos/{{ item }}
sync-type = git
sync-uri = {{ gentoo_repos[item]['source'] }}
{% if 'extra_lines' in gentoo_repos[item] %}
{{ gentoo_repos[item]['extra_lines'] }}
{%- endif -%}
