{% if item == 'gentoo' %}
[DEFAULT]
main-repo = gentoo

{% endif -%}

[{{ item }}]
location = {{ gentoo_repo_base }}/{{ item }}
sync-type = git
sync-depth = 1
sync-uri = {{ gentoo_repos[item]['source'] }}
{% if 'extra_lines' in gentoo_repos[item] %}
{{ gentoo_repos[item]['extra_lines'] }}
{%- endif -%}
