# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - "alerts/*.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "prometheus"

    static_configs:
      - targets: ["localhost:9090"]

  # consul alone cannot be relied upon to ensure everything is up
  # because the consul agent can disappear without its associated
  # targets being treated as down, because the targets will disappear
  # thus, we need a way to ensure consul is running, and we use
  # consul_exporters for this
  - job_name: "consul_exporter"
    static_configs:
{% for host in groups["all"] %}
      - targets: ["{{ host }}:{{ consul_exporter_port }}"]
{% endfor %}

  - job_name: 'consul'
    consul_sd_configs:
      - server: 'consul.{{ wg_domain }}:8500'
    relabel_configs:
      - source_labels: [__meta_consul_tags]
        regex: .*,prometheus,.*
        action: keep
      # speedtest-exporters should only be scraped rarely
      - source_labels: [__meta_consul_service]
        regex: .*speedtest_exporter.*
        action: replace
        target_label: __scrape_interval__
        replacement: 30m
      - source_labels: [__meta_consul_tags]
        regex: .*speedtest_exporter.*
        action: replace
        target_label: __scrape_timeout__
        replacement: 5m
      - source_labels: [__meta_consul_service]
        target_label: job
      # Maybe relabel endpoint with hostname?
      - source_labels: [__meta_consul_node]
        target_label: instance
