# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - "alerts/*.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "prometheus"

    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node-exporter"
    static_configs:
{% for host in node_exporters %}
      - targets: ["{{ host }}.{{ public_domain }}:9100"]
{% endfor %}

  - job_name: 'blackbox_consul_icmp'
    metrics_path: /probe
    params:
      module: [icmp]
    consul_sd_configs:
      - server: 'consul.{{ public_domain }}:8500'
    relabel_configs:
      - source_labels: [__meta_consul_tags]
        regex: .*,prometheus-icmp.*
        action: keep
      - source_labels: [__meta_consul_address]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115

  - job_name: 'blackbox_exporter'
    static_configs:
      - targets: ['blackbox:9115']

  - job_name: 'consul'
    consul_sd_configs:
      - server: 'consul.{{ public_domain }}:8500'
    relabel_configs:
      - source_labels: [__meta_consul_tags]
        regex: .*,prometheus,.*
        action: keep
      - source_labels: [__meta_consul_tags]
        regex: .*,icmp,.*
        action: drop
      # speedtest-exporters should only be scraped rarely
      - source_labels: [__meta_consul_service]
        regex: .*speedtest_exporter.*
        action: replace
        target_label: __scrape_interval__
        replacement: 12h
      - source_labels: [__meta_consul_tags]
        regex: .*speedtest_exporter.*
        action: replace
        target_label: __scrape_timeout__
        replacement: 5m
      - source_labels: [__meta_consul_service]
        target_label: job
      # Maybe relabel endpoint with hostname?
      - source_labels: [__meta_consul_node]
        target_label: instance
