# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - "alerts/*.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "prometheus"

    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node_exporter"
    static_configs:
{% for host in groups['all'] | map('extract', hostvars) | selectattr('monitor_hostname', 'defined') %}
      - targets: ["{{ host['monitor_hostname'] }}:{{ node_exporter_port }}"]
{% endfor %}

  - job_name: "postfix_exporter"
    static_configs:
      - targets: ["{{ smtp_host }}:{{ postfix_exporter_port }}"]

  - job_name: "speedtest_exporter"
    scrape_interval: 30m
    scrape_timeout: 1m
    static_configs:
      - targets: ["pollux.{{ wg_domain }}:9798"]
